
.radius-50 {
	border-radius: 66px;
}
.text-orange {
	color: #FF7200;
}
.show-on-hover {
	display: none;
	margin-left: 6px;
	font-size:12px
}
.p-16 {
	padding: 0px;
	height: 47px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.bg-violet {
	background: #F8F7FA;
	display: flex;
	align-items: center;
	height: 100%;
	width: 47px;
	padding: 14px;
}